.main-container {
    display: flex;
    padding-top: 20px;
    max-width: 1200px;
    margin: 0;
}

/* Container des filtres */
.filter-container {
    width: 100%;
    padding: 10px;
    margin-right: 20px; /* Espace entre les filtres et les produits */
}

/* Container des produits */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.product-list .product-card {
    background-color: white;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.product-list .product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}


.product-card p {
    font-size: 14px;
    color: #777;
}

.product-card .price {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.product-card button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.no-products-message {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
    color: #666;
  }

@media screen and (max-width: 768px) {
    * {
        margin: 0; 
        padding: 0;
    }

    .main-container {
        display: block;
        padding-top: 20px;
        max-width: 100%; /* Ajuste la largeur maximale pour les appareils mobiles */
        margin: 0;
    }

    /* Container des filtres */
    .filter-container {
        display: none; /* Masquer les filtres sur mobile */
    }

    /* Container des produits */
    .product-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne sur téléphone */
        gap: 10px;
        margin: 0; /* Supprime la marge à gauche */
        justify-items: center; /* Centre les éléments dans le grid */
    }

    .product-list .product-card {
        background-color: white;
        text-align: center;
        transition: transform 0.3s;
        margin-bottom: 10px; /* Espacement en bas pour éviter le contact avec d'autres éléments */
        display: flex; /* Utilisez Flexbox pour aligner le contenu */
        flex-direction: column; /* Aligne le contenu verticalement */
        justify-content: space-between; /* Assure que les éléments prennent toute la hauteur disponible */
        height: 100%; /* Assure que les cartes prennent toute la hauteur du conteneur */
        width: 100%; /* Assure que les cartes prennent toute la largeur disponible */
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ajoutez une légère ombre pour un effet esthétique */
    }

    .product-card img {
        width: 100%; /* Assure que l'image prend toute la largeur */
        height: 300px; /* Définissez une hauteur fixe pour l'image */
        object-fit: cover; /* Ajuste l'image pour couvrir le conteneur sans déformer */
    }

    .product-card h3 {
        font-size: 18px;
        margin: 10px 0;
    }

    .product-card p {
        font-size: 14px;
        color: #777;
    }

    .product-card .price {
        font-size: 16px;
        color: #000;
        margin: 10px 0;
    }

    .product-card button {
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .footer {
        height: 100%;
    }
}
