.main-container {
    display: flex;
    padding-top: 20px;
    max-width: 1200px;
    margin: 0;
}

/* Container des filtres */
.filter-container {
    width: 100%;
    padding: 10px;
    margin-right: 20px; /* Espace entre les filtres et les produits */
}

/* Container des produits */
.product-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    flex-grow: 1;
}

.product-list .product-card {
    background-color: white;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.product-list .product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 18px;
    margin: 10px 0;
}


.product-card p {
    font-size: 14px;
    color: #777;
}

.product-card .price {
    font-size: 16px;
    color: #000;
    margin: 10px 0;
}

.product-card button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.no-products-message {
    text-align: center;
    margin: 20px;
    font-size: 1.5rem;
    color: #666;
  }


/* Responsive Styles */

/* Pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne */
        gap: 15px; /* Ajuste l'espacement entre les cartes */
    }

    .product-card {
        padding: 15px; /* Réduit le padding des cartes */
    }

    .product-card h3 {
        font-size: 16px; /* Réduit la taille de la police du titre */
    }

    .product-card .price {
        font-size: 14px; /* Réduit la taille de la police du prix */
    }

    .product-card button {
        padding: 8px 16px; /* Réduit le padding du bouton */
        font-size: 14px; /* Réduit la taille de la police du bouton */
    }

    .filter-container {
        display: none;
    }
}

/* Pour les mobiles */
@media screen and (max-width: 767px) {
    .main-container {
        flex-direction: column; /* Empile les filtres et produits verticalement */
        padding: 10px; /* Réduit le padding pour mobile */
    }

    .filter-container {
        margin-right: 0; /* Supprime l'espace à droite */
        margin-bottom: 20px; /* Ajoute de l'espace en bas */
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne */
        gap: 10px; /* Réduit l'espacement entre les cartes */
    }

    .product-card {
        padding: 10px; /* Réduit le padding des cartes */
    }

    .product-card h3 {
        font-size: 16px; /* Réduit la taille de la police du titre */
    }

    .product-card p {
        font-size: 12px; /* Réduit la taille de la police de la description */
    }

    .product-card .price {
        font-size: 14px; /* Réduit la taille de la police du prix */
    }

    .product-card button {
        padding: 8px 12px; /* Réduit le padding du bouton */
        font-size: 12px; /* Réduit la taille de la police du bouton */
    }

    .filter-container {
        display: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne */
        gap: 15px; /* Ajuste l'espacement entre les cartes */
    }

    .product-card {
        padding: 15px; /* Réduit le padding des cartes */
    }

    .product-card h3 {
        font-size: 16px; /* Réduit la taille de la police du titre */
    }

    .product-card .price {
        font-size: 14px; /* Réduit la taille de la police du prix */
    }

    .product-card button {
        padding: 8px 16px; /* Réduit le padding du bouton */
        font-size: 14px; /* Réduit la taille de la police du bouton */
    }

    .filter-container {
        width: 100%;
        padding: 10px;
        margin-right: 20px; /* Espace entre les filtres et les produits */
    }
    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne */
        gap: 15px; /* Ajuste l'espacement entre les cartes */
    }

    .product-card {
        padding: 15px; /* Réduit le padding des cartes */
    }

    .product-card h3 {
        font-size: 16px; /* Réduit la taille de la police du titre */
    }

    .product-card .price {
        font-size: 14px; /* Réduit la taille de la police du prix */
    }

    .product-card button {
        padding: 8px 16px; /* Réduit le padding du bouton */
        font-size: 14px; /* Réduit la taille de la police du bouton */
    }

    .filter-container {
        width: 100%;
        padding: 10px;
        margin-right: 20px; /* Espace entre les filtres et les produits */
    }
}

@media screen and (min-width: 1441px) and (max-width: 1600px) {
    .product-list {
        grid-template-columns: repeat(2, 1fr); /* Affiche 2 produits par ligne */
        gap: 250px; /* Ajuste l'espacement entre les cartes pour éviter les dépassements */
        margin-bottom:-200px;
    }

    .product-card {
        padding: 15px; /* Réduit le padding des cartes */
        margin-bottom: 0; /* Enlève l'espacement en bas des produits */
    }

    .product-card img {
        max-width: 100%; /* Assure que les images ne dépassent pas */
        height: auto;
    }

    .product-card h3 {
        font-size: 16px; /* Réduit la taille de la police du titre */
    }

    .product-card .price {
        font-size: 14px; /* Réduit la taille de la police du prix */
    }

    .product-card button {
        padding: 8px 16px; /* Réduit le padding du bouton */
        font-size: 14px; /* Réduit la taille de la police du bouton */
    }

    .filter-container {
        width: 100%;
        padding: 10px;
        margin-right: 20px; /* Espace entre les filtres et les produits */
    }

    .footer {
        margin-top:250px; 
    }
}
