/* src/components/css/success.css */
.success-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh; /* Occuper toute la hauteur de la fenêtre */
    background-color: #f3f3f3; /* Fond gris clair */
    font-family: 'Arial', sans-serif; /* Police de caractère moderne */
    padding: 20px;
    text-align: center; /* Centrer le texte */
  }
  
  .success-container h1 {
    font-size: 2.5rem; /* Taille de police plus grande */
    color: #111; /* Couleur noire profonde */
    margin-bottom: 10px;
  }
  
  .success-container h2 {
    font-size: 1.5rem; /* Taille de police moyenne */
    color: #555; /* Couleur gris pour le sous-titre */
    margin-bottom: 20px;
  }
  
  .success-container ul {
    list-style: none; /* Supprimer les puces de la liste */
    padding: 0; /* Supprimer le padding */
    margin: 20px 0; /* Marge autour de la liste */
    text-align: left; /* Alignement à gauche pour les items de la liste */
  }
  
  .success-container li {
    margin: 10px 0; /* Espacement entre les items de la liste */
    font-size: 1rem; /* Taille de police standard */
    color: #333; /* Couleur gris foncé */
    padding-bottom: 10px; /* Espacement en bas */
  }
  
  .success-container h3 {
    font-size: 1.2rem; /* Taille de police pour le total */
    color: #111; /* Couleur noire pour le total */
    margin-top: 20px; /* Marge en haut */
  }
  
  .shopping {
    background-color: #000; /* Fond noir */
    color: white; /* Texte blanc */
    border: none; /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    padding: 12px 20px; /* Espacement interne */
    font-size: 1rem; /* Taille de police standard */
    cursor: pointer; /* Curseur de souris en forme de main */
    margin-top: 20px; /* Marge en haut */
    transition: background-color 0.3s; /* Transition douce */
  }
  
  .shopping:hover {
    background-color: #333; /* Assombrir au survol */
  }
  
  .empty-message {
    color: #777; /* Couleur gris pour le message vide */
    font-size: 1rem; /* Taille de police standard */
  }
  